<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.gatocube.rc-cc</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>/Users/alexonn/www/rc-cc/scripts/launchd-rc-cc.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/alexonn/Library/Logs/com.gatocube.rc-cc.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/alexonn/Library/Logs/com.gatocube.rc-cc.err.log</string>
  </dict>
</plist>
